src/main/mule/flight-management-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="flight-management-api-main">
        <http:listener path="/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]" reasonPhrase="#[vars.message default &quot;Error&quot;]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="flight-management-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="flight-management-api-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="flight-management-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\api\airport\modifyAirport\(airportCode):application\json:flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airportCode">attributes.uriParams.'airportCode'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="modifyAirport" doc:id="3690bafc-a8ee-4db8-8cc2-c06f0e71682e" name="modifyAirport" />
    </flow>
    <flow name="put:\api\booking\modifyBooking\(bookingId):application\json:flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Booking updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\api\flights\modifyFlight\(flightNumber):application\json:flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="flightNumber">attributes.uriParams.'flightNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Flight updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\api\passenger\modifyPassenger\(pnrNumber):application\json:flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="pnrNumber">attributes.uriParams.'pnrNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Passenger updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\api\scheduledflight\modifySchFlight\(sfid):application\json:flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="sfid">attributes.uriParams.'sfid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "ScheduledFlight updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\api\schedule\modifySchedule\(scheduleId):application\json:flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="scheduleId">attributes.uriParams.'scheduleId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="modifySchedule" doc:id="892ddaea-fb68-430f-bf48-64d33fa9f429" name="modifySchedule"/>
    </flow>
    <flow name="put:\api\user\modifyUser\(userId):application\json:flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="modifyUser" doc:id="df8fb8b4-c826-4e89-a8f7-db6fe469092a" name="modifyUser" />
    </flow>
    <flow name="delete:\api\airport\deleteAirport\(airportCode):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airportCode">attributes.uriParams.'airportCode'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="deleteAirport" doc:id="0902599a-aa03-484c-85c6-9db70206b7cd" name="deleteAirport" />
    </flow>
    <flow name="delete:\api\booking\deleteBooking\(bookingId):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="deleteBooking" doc:id="15f1e945-a010-4db1-93d8-dca17efa9e31" name="deleteBooking" />
    </flow>
    <flow name="delete:\api\flights\deleteByFno\(flightNumber):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="flightNumber">attributes.uriParams.'flightNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Flight deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\api\passenger\deletePassenger\(pnrNumber):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="pnrNumber">attributes.uriParams.'pnrNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Passenger deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\api\scheduledflight\deleteSchFlight\(sfid):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="sfid">attributes.uriParams.'sfid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "ScheduledFlight deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\api\schedule\deleteSchedule\(scheduleId):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="scheduleId">attributes.uriParams.'scheduleId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="deleteSchedule" doc:id="69d53b87-19c8-455a-83d5-eb797d4dc9cd" name="deleteSchedule"/>
    </flow>
    <flow name="delete:\api\user\deleteUser\(userId):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="deleteUser" doc:id="0b1ecd86-b7ed-477c-a3d8-cf2eee7f232b" name="deleteUser" />
    </flow>
    <flow name="patch:\api\airport\patchAirport\(airportCode):flight-management-api-config" doc:id="e0a7b720-08f5-4458-874a-87d86bf6b07f">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airportCode"><![CDATA[attributes.uriParams.'airportCode']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message" doc:id="165a9dff-dfd6-48d1-bf9f-d05650895bf3">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"airportCode": vars.airportCode,
	"airportName": attributes.queryParams.airportName default "empty",
	"airportLocation": attributes.queryParams.airportLocation default "empty"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="patchAirport" doc:id="75539f0b-bfa7-4405-a3ba-e79246210e5b" name="patchAirport" />
    </flow>
    <flow name="patch:\api\flights\patchFlight\(flightNumber):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="flightNumber">attributes.uriParams.'flightNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Flight patched"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\api\passenger\patchPassenger\(pnrNumber):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="pnrNumber">attributes.uriParams.'pnrNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Passenger patched"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\api\scheduledflight\patchSchFlight\(sfid):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="sfid">attributes.uriParams.'sfid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "ScheduledFlight patched"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\api\schedule\patchSchedule\(scheduleId):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="scheduleId">attributes.uriParams.'scheduleId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "arrivalTime": attributes.queryParams.arrivalTime default "1970-01-01T00:00:00",
    "departureTime": attributes.queryParams.departureTime default "1970-01-01T00:00:00",
    "destinationAirport": {
      "airportCode": attributes.queryParams.sourceId default 0,
      "airportLocation": "empty",
      "airportName": "empty"
    },
    "sid": vars.scheduleId,
    "sourceAirport": {
      "airportCode": attributes.queryParams.sourceId default 0,
      "airportLocation": "empty",
      "airportName": "empty"
    }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<flow-ref doc:name="patchSchedule" doc:id="aa47d8d6-0bfb-4555-9392-f854bc25b148" name="patchSchedule"/>
    </flow>
    <flow name="patch:\api\user\patchUser\(userId):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform doc:name="Transform Message" doc:id="69477a2b-1f7b-4782-8136-14dc892e326a">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	
	"userId": vars.userId,
	"userType": attributes.queryParams.userType default "empty",
	"userName": attributes.queryParams.userName default "empty",
	"userPassword": attributes.queryParams.userPassword default "empty",
	"userPhone": attributes.queryParams.userPhone default 0,
	"email": attributes.queryParams.email default "empty"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="patchUser" doc:id="32e077d7-f2d9-468e-bc9f-87db5d85a607" name="patchUser" />
    </flow>
    <flow name="patch:\api\booking\patchbooking\(bookingId):application\json:flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Booking patched"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\airport\showAllAirports:flight-management-api-config">
        <flow-ref doc:name="showAllAirports" doc:id="e56b35f7-6d08-4837-af1b-1c3dc17b0eb4" name="showAllAirports" />
    </flow>
    <flow name="get:\api\booking\showAllBookings:flight-management-api-config">
        <flow-ref doc:name="showAllBookings" doc:id="6a0814c2-f2bc-4d87-9337-350d37802617" name="showAllBookings" />
    </flow>
    <flow name="get:\api\flights\showAllFlights:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    carrierName: "Indigo",
    flightModel: "Jet",
    flightNumber: 10001,
    seatCapacity: 100
  }, 
  {
    carrierName: "SpiceJet",
    flightModel: "Boeing",
    flightNumber: 10002,
    seatCapacity: 120
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\passenger\showAllPassengers:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    pnrNumber: 101,
    passengerName: "Sahil",
    passengerAge: 22,
    passengerUIN: 123456789012,
    luggage: 9.75
  }, 
  {
    pnrNumber: 102,
    passengerName: "Hemant",
    passengerAge: 22,
    passengerUIN: 123456789013,
    luggage: 10.05
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\scheduledflight\showAllSchFlights:flight-management-api-config">
		<flow-ref doc:name="showAllSchFlights" doc:id="ad3522f2-e11a-4ac5-8cf2-d471edb1f7c8" name="showAllSchFlights"/>
    </flow>
    <flow name="get:\api\schedule\showAllSchedules:flight-management-api-config">
        <flow-ref doc:name="showAllSchedules" doc:id="54a0f8c3-6e07-4b9f-8322-c64c4c156ff6" name="showAllSchedules" />
    </flow>
    <flow name="get:\api\user\showAllUsers:flight-management-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="fec41923-2fd1-4073-b0b0-18863291f843" name="showAllUsers" />
    </flow>
    <flow name="get:\api\scheduledflight\showByAirport\(src)\(dsc)\(date):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="src">attributes.uriParams.'src'</ee:set-variable>
                <ee:set-variable variableName="dsc">attributes.uriParams.'dsc'</ee:set-variable>
                <ee:set-variable variableName="date">attributes.uriParams.'date'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="showSchByAirport" doc:id="d6ca301a-e569-4ddd-9903-2c164f1e4597" name="showSchByAirport"/>
    </flow>
    <flow name="get:\api\schedule\showByArrival\(arrivalDate):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="arrivalDate">attributes.uriParams.'arrivalDate'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="showScheduleByArrival" doc:id="f86d4c37-527f-4ab1-9dac-a3b6f10c3dde" name="showScheduleByArrival" />
    </flow>
    <flow name="get:\api\flights\showByCarrierName\(carrierName):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="carrierName">attributes.uriParams.'carrierName'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    carrierName: "Indigo",
    flightModel: "Jet",
    flightNumber: 10001,
    seatCapacity: 100
  }, 
  {
    carrierName: "SpiceJet",
    flightModel: "Boeing",
    flightNumber: 10002,
    seatCapacity: 120
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\schedule\showByDeparture\(departureDate):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="departureDate">attributes.uriParams.'departureDate'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="showScheduleByDeparture" doc:id="254e2091-250a-411d-949d-fe570e9f50d0" name="showScheduleByDeparture"/>
    </flow>
    <flow name="get:\api\schedule\showByDestination\(airportName):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airportName">attributes.uriParams.'airportName'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="showScheduleByDestination" doc:id="3db76824-c275-43f2-9c66-c14a25a0425e" name="showScheduleByDestination" />
    </flow>
    <flow name="get:\api\user\showByEmail\(email):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="email">attributes.uriParams.'email'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="43179331-1a60-4feb-9b6f-0888151fb1a7" name="showByEmail" />
    </flow>
    <flow name="get:\api\scheduledflight\showByFno\(flightNumber):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="flightNumber">attributes.uriParams.'flightNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="showByFno" doc:id="e534bd36-9ba0-4de7-b5e5-325a85be8107" name="showByFno"/>
    </flow>
    <flow name="get:\api\flights\showByFno\(flightNumber):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="flightNumber">attributes.uriParams.'flightNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  carrierName: "Indigo",
  flightModel: "Jet",
  flightNumber: 10001,
  seatCapacity: 100
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\airport\showById\(airportCode):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airportCode">attributes.uriParams.'airportCode'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="showAirportById" doc:id="5665ec92-f349-4257-82f2-6faca94485c6" name="showAirportById" />
    </flow>
    <flow name="get:\api\booking\showById\(bookingId):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="showBookingById" doc:id="00d4e9e3-e94e-47e7-9190-7fe98f7e79f4" name="showBookingById" />
    </flow>
    <flow name="get:\api\passenger\showById\(pnrNumber):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="pnrNumber">attributes.uriParams.'pnrNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  pnrNumber: 101,
  passengerName: "Sahil",
  passengerAge: 22,
  passengerUIN: 123456789012,
  luggage: 9.75
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\schedule\showById\(scheduleId):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="scheduleId">attributes.uriParams.'scheduleId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="showScheduleById" doc:id="c00b9e6a-b79e-4edf-8566-62fbdb7bb255" name="showScheduleById" />
    </flow>
    <flow name="get:\api\user\showById\(userId):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="Flow Reference" doc:id="d2efe3b8-9b8a-42d6-b3e8-89dff25f1fa3" name="showById" />
    </flow>
    <flow name="get:\api\airport\showByLocation\(airportLocation):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airportLocation">attributes.uriParams.'airportLocation'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="showAirportByLocation" doc:id="0be8e0cd-16c7-4443-bf3f-cdb5eed28300" name="showAirportByLocation" />
    </flow>
    <flow name="get:\api\airport\showByName\(airportName):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airportName">attributes.uriParams.'airportName'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="showAirportByName" doc:id="c829976d-1a55-484b-9045-69420bbe47fd" name="showAirportByName" />
    </flow>
    <flow name="get:\api\passenger\showByName\(passengerName):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="passengerName">attributes.uriParams.'passengerName'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    pnrNumber: 101,
    passengerName: "Sahil",
    passengerAge: 22,
    passengerUIN: 123456789012,
    luggage: 9.75
  }, 
  {
    pnrNumber: 102,
    passengerName: "Hemant",
    passengerAge: 22,
    passengerUIN: 123456789013,
    luggage: 10.05
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\user\showByName\(userName):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userName">attributes.uriParams.'userName'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="showByUserName" doc:id="059aca7b-78ae-48c4-8fe3-8fe4d6aebd7b" name="showByUserName" />
    </flow>
    <flow name="get:\api\booking\showBySfid\(sfid):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="sfid">attributes.uriParams.'sfid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="showBookingBySfid" doc:id="414c2692-9993-4bae-9fdd-169c4a786f3b" name="showBookingBySfid" />
    </flow>
    <flow name="get:\api\schedule\showBySource\(airportName):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airportName">attributes.uriParams.'airportName'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="showScheduleBySource" doc:id="45138b63-1e47-4129-8af8-0ac66285887f" name="showScheduleBySource" />
    </flow>
    <flow name="get:\api\passenger\showByUIN\(passengerUIN):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="passengerUIN">attributes.uriParams.'passengerUIN'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  pnrNumber: 101,
  passengerName: "Sahil",
  passengerAge: 22,
  passengerUIN: 123456789012,
  luggage: 9.75
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\api\airport\addAirport:application\json:flight-management-api-config">
        <flow-ref doc:name="addAirport" doc:id="68d52a70-b804-4d4d-b012-663414c9bc63" name="addAirport" />
    </flow>
    <flow name="post:\api\booking\addBooking:application\json:flight-management-api-config">
        <flow-ref doc:name="addBooking" doc:id="aefc6c83-60e5-4b20-b764-a97bff510cdf" name="addBooking"/>
    </flow>
    <flow name="post:\api\flights\addFlight:application\json:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Flight added"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\api\passenger\addPassenger:application\json:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Passenger added"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\api\scheduledflight\addSchFlight:application\json:flight-management-api-config">
		<flow-ref doc:name="addSchFlight" doc:id="20f79f22-3196-4e8e-9d56-e9283dfbbdaa" name="addSchFlight"/>
    </flow>
    <flow name="post:\api\schedule\addSchedule:application\json:flight-management-api-config">
		<flow-ref doc:name="addSchedule" doc:id="b3b6a8ca-f135-450d-b860-c86acf929dfa" name="addSchedule"/>
    </flow>
    <flow name="post:\api\user\addUser:application\json:flight-management-api-config">
        <flow-ref doc:name="Flow Reference" doc:id="c0318776-390e-4e9d-b232-f225eed792ba" name="addUser" />
    </flow>
    <flow name="post:\api\passenger\addPassenger\(bookingId):application\json:flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Passenger added"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
