src/main/mule/flight-management-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    
    <flow name="flight-management-api-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="flight-management-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="flight-management-api-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="flight-management-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\api\airport\modifyAirport\(airportCode):application\json:flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airportCode">attributes.uriParams.'airportCode'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Airport updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\api\booking\modifyBooking\(bookingId):application\json:flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Booking updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\api\flights\modifyFlight\(flightNumber):application\json:flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="flightNumber">attributes.uriParams.'flightNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Flight updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\api\passenger\modifyPassenger\(pnrNumber):application\json:flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="pnrNumber">attributes.uriParams.'pnrNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Passenger updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\api\scheduledflight\modifySchFlight\(sfid):application\json:flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="sfid">attributes.uriParams.'sfid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "ScheduledFlight updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\api\schedule\modifySchedule\(scheduleId):application\json:flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="scheduleId">attributes.uriParams.'scheduleId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Schedule updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\api\user\modifyUser\(userId):application\json:flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "User updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\api\airport\deleteAirport\(airportCode):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airportCode">attributes.uriParams.'airportCode'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Airport deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\api\booking\deleteBooking\(bookingId):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Booking deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\api\flights\deleteByFno\(flightNumber):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="flightNumber">attributes.uriParams.'flightNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Flight deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\api\passenger\deletePassenger\(pnrNumber):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="pnrNumber">attributes.uriParams.'pnrNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Passenger deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\api\scheduledflight\deleteSchFlight\(sfid):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="sfid">attributes.uriParams.'sfid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "ScheduledFlight deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\api\schedule\deleteSchedule\(scheduleId):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="scheduleId">attributes.uriParams.'scheduleId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Schedule deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="delete:\api\user\deleteUser\(userId):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "User deleted"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\api\airport\patchAirport\(airportCode):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airportCode">attributes.uriParams.'airportCode'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Airport patched"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\api\flights\patchFlight\(flightNumber):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="flightNumber">attributes.uriParams.'flightNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Flight patched"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\api\passenger\patchPassenger\(pnrNumber):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="pnrNumber">attributes.uriParams.'pnrNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Passenger patched"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\api\scheduledflight\patchSchFlight\(sfid):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="sfid">attributes.uriParams.'sfid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "ScheduledFlight patched"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\api\schedule\patchSchedule\(scheduleId):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="scheduleId">attributes.uriParams.'scheduleId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Schedule patched"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\api\user\patchUser\(userId):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "User updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\api\booking\patchbooking\(bookingId):application\json:flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Booking patched"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\airport\showAllAirports:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    airportCode: 101,
    airportName: "Indira Gandhi International Airport",
    airportLocation: "Delhi"
  }, 
  {
    airportCode: 102,
    airportName: "Chhatrapati Shivaji International Airport",
    airportLocation: "Mumbai"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\booking\showAllBookings:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    bookingId: 1000,
    user: {
      userType: "Admin",
      userId: 45,
      userName: "Rohit",
      userPassword: "Rohit@45",
      userPhone: 676,
      email: "rohitsharma@gmail.com"
    },
    bookingDate: "2022-11-11T20:00:00",
    passengers: [
      {
        pnrNumber: 101,
        passengerName: "Sahil",
        passengerAge: 22,
        passengerUIN: 123456789012,
        luggage: 9.75
      }
    ],
    ticketCost: 10000,
    sflight: {
      sfid: 101,
      availableSeats: 90,
      flight: {
        carrierName: "Indigo",
        flightModel: "Jet",
        flightNumber: 10001,
        seatCapacity: 100
      },
      schedule: {
        sid: 101,
        sourceAirport: {
          airportCode: 101,
          airportName: "Indira Gandhi International Airport",
          airportLocation: "Delhi"
        },
        destinationAirport: {
          airportCode: 102,
          airportName: "Chhatrapati Shivaji International Airport",
          airportLocation: "Mumbai"
        },
        arrivalTime: "2022-11-14T20:00:00",
        departureTime: "2022-11-14T16:00:00"
      }
    },
    noOfPassengers: 1
  }, 
  {
    bookingId: 1001,
    user: {
      userType: "User",
      userId: 18,
      userName: "Virat",
      userPassword: "Virat@18",
      userPhone: 8282,
      email: "virat18@gmail.com"
    },
    bookingDate: "2022-11-11T20:00:00",
    passengers: [
      {
        pnrNumber: 101,
        passengerName: "Sahil",
        passengerAge: 22,
        passengerUIN: 123456789012,
        luggage: 9.75
      }
    ],
    ticketCost: 9000,
    sflight: {
      sfid: 102,
      availableSeats: 100,
      flight: {
        carrierName: "SpiceJet",
        flightModel: "Airbus",
        flightNumber: 10002,
        seatCapacity: 120
      },
      schedule: {
        sid: 102,
        sourceAirport: {
          airportCode: 101,
          airportName: "Indira Gandhi International Airport",
          airportLocation: "Delhi"
        },
        destinationAirport: {
          airportCode: 102,
          airportName: "Chhatrapati Shivaji International Airport",
          airportLocation: "Mumbai"
        },
        arrivalTime: "2022-11-14T20:00:00",
        departureTime: "2022-11-14T16:00:00"
      }
    },
    noOfPassengers: 1
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\flights\showAllFlights:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    carrierName: "Indigo",
    flightModel: "Jet",
    flightNumber: 10001,
    seatCapacity: 100
  }, 
  {
    carrierName: "SpiceJet",
    flightModel: "Boeing",
    flightNumber: 10002,
    seatCapacity: 120
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\passenger\showAllPassengers:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    pnrNumber: 101,
    passengerName: "Sahil",
    passengerAge: 22,
    passengerUIN: 123456789012,
    luggage: 9.75
  }, 
  {
    pnrNumber: 102,
    passengerName: "Hemant",
    passengerAge: 22,
    passengerUIN: 123456789013,
    luggage: 10.05
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\scheduledflight\showAllSchFlights:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    sfid: 101,
    availableSeats: 90,
    flight: {
      carrierName: "Indigo",
      flightModel: "Jet",
      flightNumber: 10001,
      seatCapacity: 100
    },
    schedule: {
      sid: 101,
      sourceAirport: {
        airportCode: 101,
        airportName: "Indira Gandhi International Airport",
        airportLocation: "Delhi"
      },
      destinationAirport: {
        airportCode: 102,
        airportName: "Chhatrapati Shivaji International Airport",
        airportLocation: "Mumbai"
      },
      arrivalTime: "2022-11-14T20:00:00",
      departureTime: "2022-11-14T16:00:00"
    }
  }, 
  {
    sfid: 102,
    availableSeats: 100,
    flight: {
      carrierName: "SpiceJet",
      flightModel: "Airbus",
      flightNumber: 10002,
      seatCapacity: 120
    },
    schedule: {
      sid: 102,
      sourceAirport: {
        airportCode: 101,
        airportName: "Indira Gandhi International Airport",
        airportLocation: "Delhi"
      },
      destinationAirport: {
        airportCode: 102,
        airportName: "Chhatrapati Shivaji International Airport",
        airportLocation: "Mumbai"
      },
      arrivalTime: "2022-11-14T20:00:00",
      departureTime: "2022-11-14T16:00:00"
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\schedule\showAllSchedules:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    scheduleId: 101,
    sourceAirport: {
      airportCode: 101,
      airportName: "Indira Gandhi International Airport",
      airportLocation: "Delhi"
    },
    destinationAirport: {
      airportCode: 102,
      airportName: "Chhatrapati Shivaji International Airport",
      airportLocation: "Mumbai"
    },
    arrivalTime: "2022-11-14T20:00:00",
    departureTime: "2022-11-14T16:00:00"
  }, 
  {
    scheduleId: 102,
    sourceAirport: {
      airportCode: 101,
      airportName: "Indira Gandhi International Airport",
      airportLocation: "Delhi"
    },
    destinationAirport: {
      airportCode: 102,
      airportName: "Chhatrapati Shivaji International Airport",
      airportLocation: "Mumbai"
    },
    arrivalTime: "2022-11-15T15:00:00",
    departureTime: "2022-11-15T11:00:00"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\user\showAllUsers:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    userType: "Admin",
    userId: 45,
    userName: "Rohit",
    userPassword: "Rohit@45",
    userPhone: 676,
    email: "rohitsharma@gmail.com"
  }, 
  {
    userType: "User",
    userId: 18,
    userName: "Virat",
    userPassword: "Virat@18",
    userPhone: 8282,
    email: "virat18@gmail.com"
  }, 
  {
    userType: "Admin",
    userId: 63,
    userName: "Sky",
    userPassword: "Sky@63",
    userPhone: 67872,
    email: "sky63@gmail.com"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\scheduledflight\showByAirport\(src)\(dsc)\(date):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="src">attributes.uriParams.'src'</ee:set-variable>
                <ee:set-variable variableName="dsc">attributes.uriParams.'dsc'</ee:set-variable>
                <ee:set-variable variableName="date">attributes.uriParams.'date'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    sfid: 101,
    availableSeats: 90,
    flight: {
      carrierName: "Indigo",
      flightModel: "Jet",
      flightNumber: 10001,
      seatCapacity: 100
    },
    schedule: {
      sid: 101,
      sourceAirport: {
        airportCode: 101,
        airportName: "Indira Gandhi International Airport",
        airportLocation: "Delhi"
      },
      destinationAirport: {
        airportCode: 102,
        airportName: "Chhatrapati Shivaji International Airport",
        airportLocation: "Mumbai"
      },
      arrivalTime: "2022-11-14T20:00:00",
      departureTime: "2022-11-14T16:00:00"
    }
  }, 
  {
    sfid: 102,
    availableSeats: 100,
    flight: {
      carrierName: "SpiceJet",
      flightModel: "Airbus",
      flightNumber: 10002,
      seatCapacity: 120
    },
    schedule: {
      sid: 102,
      sourceAirport: {
        airportCode: 101,
        airportName: "Indira Gandhi International Airport",
        airportLocation: "Delhi"
      },
      destinationAirport: {
        airportCode: 102,
        airportName: "Chhatrapati Shivaji International Airport",
        airportLocation: "Mumbai"
      },
      arrivalTime: "2022-11-14T20:00:00",
      departureTime: "2022-11-14T16:00:00"
    }
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\schedule\showByArrival\(arrivalDate):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="arrivalDate">attributes.uriParams.'arrivalDate'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    scheduleId: 101,
    sourceAirport: {
      airportCode: 101,
      airportName: "Indira Gandhi International Airport",
      airportLocation: "Delhi"
    },
    destinationAirport: {
      airportCode: 102,
      airportName: "Chhatrapati Shivaji International Airport",
      airportLocation: "Mumbai"
    },
    arrivalTime: "2022-11-14T20:00:00",
    departureTime: "2022-11-14T16:00:00"
  }, 
  {
    scheduleId: 102,
    sourceAirport: {
      airportCode: 101,
      airportName: "Indira Gandhi International Airport",
      airportLocation: "Delhi"
    },
    destinationAirport: {
      airportCode: 102,
      airportName: "Chhatrapati Shivaji International Airport",
      airportLocation: "Mumbai"
    },
    arrivalTime: "2022-11-15T15:00:00",
    departureTime: "2022-11-15T11:00:00"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\flights\showByCarrierName\(carrierName):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="carrierName">attributes.uriParams.'carrierName'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    carrierName: "Indigo",
    flightModel: "Jet",
    flightNumber: 10001,
    seatCapacity: 100
  }, 
  {
    carrierName: "SpiceJet",
    flightModel: "Boeing",
    flightNumber: 10002,
    seatCapacity: 120
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\schedule\showByDeparture\(departureDate):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="departureDate">attributes.uriParams.'departureDate'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    scheduleId: 101,
    sourceAirport: {
      airportCode: 101,
      airportName: "Indira Gandhi International Airport",
      airportLocation: "Delhi"
    },
    destinationAirport: {
      airportCode: 102,
      airportName: "Chhatrapati Shivaji International Airport",
      airportLocation: "Mumbai"
    },
    arrivalTime: "2022-11-14T20:00:00",
    departureTime: "2022-11-14T16:00:00"
  }, 
  {
    scheduleId: 102,
    sourceAirport: {
      airportCode: 101,
      airportName: "Indira Gandhi International Airport",
      airportLocation: "Delhi"
    },
    destinationAirport: {
      airportCode: 102,
      airportName: "Chhatrapati Shivaji International Airport",
      airportLocation: "Mumbai"
    },
    arrivalTime: "2022-11-15T15:00:00",
    departureTime: "2022-11-15T11:00:00"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\schedule\showByDestination\(airportName):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airportName">attributes.uriParams.'airportName'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    scheduleId: 101,
    sourceAirport: {
      airportCode: 101,
      airportName: "Indira Gandhi International Airport",
      airportLocation: "Delhi"
    },
    destinationAirport: {
      airportCode: 102,
      airportName: "Chhatrapati Shivaji International Airport",
      airportLocation: "Mumbai"
    },
    arrivalTime: "2022-11-14T20:00:00",
    departureTime: "2022-11-14T16:00:00"
  }, 
  {
    scheduleId: 102,
    sourceAirport: {
      airportCode: 101,
      airportName: "Indira Gandhi International Airport",
      airportLocation: "Delhi"
    },
    destinationAirport: {
      airportCode: 102,
      airportName: "Chhatrapati Shivaji International Airport",
      airportLocation: "Mumbai"
    },
    arrivalTime: "2022-11-15T15:00:00",
    departureTime: "2022-11-15T11:00:00"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\user\showByEmail\(email):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="email">attributes.uriParams.'email'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  userType: "Admin",
  userId: 45,
  userName: "Rohit",
  userPassword: "Rohit@45",
  userPhone: 676,
  email: "rohitsharma@gmail.com"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\scheduledflight\showByFno\(flightNumber):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="flightNumber">attributes.uriParams.'flightNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  sfid: 101,
  availableSeats: 90,
  flight: {
    carrierName: "Indigo",
    flightModel: "Jet",
    flightNumber: 10001,
    seatCapacity: 100
  },
  schedule: {
    sid: 101,
    sourceAirport: {
      airportCode: 101,
      airportName: "Indira Gandhi International Airport",
      airportLocation: "Delhi"
    },
    destinationAirport: {
      airportCode: 102,
      airportName: "Chhatrapati Shivaji International Airport",
      airportLocation: "Mumbai"
    },
    arrivalTime: "2022-11-14T20:00:00",
    departureTime: "2022-11-14T16:00:00"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\flights\showByFno\(flightNumber):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="flightNumber">attributes.uriParams.'flightNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  carrierName: "Indigo",
  flightModel: "Jet",
  flightNumber: 10001,
  seatCapacity: 100
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\airport\showById\(airportCode):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airportCode">attributes.uriParams.'airportCode'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  airportCode: 102,
  airportName: "Chhatrapati Shivaji International Airport",
  airportLocation: "Mumbai"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\booking\showById\(bookingId):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  bookingId: 1000,
  bookingDate: "2022-11-12T20:00:00",
  user: {
    userType: "Admin",
    userId: 45,
    userName: "Rohit",
    userPassword: "Rohit@45",
    userPhone: 676,
    email: "rohitsharma@gmail.com"
  },
  passengers: [
    {
      pnrNumber: 101,
      passengerName: "Sahil",
      passengerAge: 22,
      passengerUIN: 123456789012,
      luggage: 9.75
    }
  ],
  ticketCost: 10000,
  sflight: {
    sfid: 101,
    availableSeats: 90,
    flight: {
      carrierName: "Indigo",
      flightModel: "Jet",
      flightNumber: 10001,
      seatCapacity: 100
    },
    schedule: {
      sid: 101,
      sourceAirport: {
        airportCode: 101,
        airportName: "Indira Gandhi International Airport",
        airportLocation: "Delhi"
      },
      destinationAirport: {
        airportCode: 102,
        airportName: "Chhatrapati Shivaji International Airport",
        airportLocation: "Mumbai"
      },
      arrivalTime: "2022-11-14T20:00:00",
      departureTime: "2022-11-14T16:00:00"
    }
  },
  noOfPassengers: 1
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\passenger\showById\(pnrNumber):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="pnrNumber">attributes.uriParams.'pnrNumber'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  pnrNumber: 101,
  passengerName: "Sahil",
  passengerAge: 22,
  passengerUIN: 123456789012,
  luggage: 9.75
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\schedule\showById\(scheduleId):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="scheduleId">attributes.uriParams.'scheduleId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  scheduleId: 101,
  sourceAirport: {
    airportCode: 101,
    airportName: "Indira Gandhi International Airport",
    airportLocation: "Delhi"
  },
  destinationAirport: {
    airportCode: 102,
    airportName: "Chhatrapati Shivaji International Airport",
    airportLocation: "Mumbai"
  },
  arrivalTime: "2022-11-14T20:00:00",
  departureTime: "2022-11-14T16:00:00"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\user\showById\(userId):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  userType: "Admin",
  userId: 45,
  userName: "Rohit",
  userPassword: "Rohit@45",
  userPhone: 676,
  email: "rohitsharma@gmail.com"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\airport\showByLocation\(airportLocation):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airportLocation">attributes.uriParams.'airportLocation'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    airportCode: 101,
    airportName: "Indira Gandhi International Airport",
    airportLocation: "Delhi"
  }, 
  {
    airportCode: 102,
    airportName: "Chhatrapati Shivaji International Airport",
    airportLocation: "Mumbai"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\airport\showByName\(airportName):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airportName">attributes.uriParams.'airportName'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  airportCode: 102,
  airportName: "Chhatrapati Shivaji International Airport",
  airportLocation: "Mumbai"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\passenger\showByName\(passengerName):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="passengerName">attributes.uriParams.'passengerName'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    pnrNumber: 101,
    passengerName: "Sahil",
    passengerAge: 22,
    passengerUIN: 123456789012,
    luggage: 9.75
  }, 
  {
    pnrNumber: 102,
    passengerName: "Hemant",
    passengerAge: 22,
    passengerUIN: 123456789013,
    luggage: 10.05
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\user\showByName\(userName):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="userName">attributes.uriParams.'userName'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  userType: "Admin",
  userId: 45,
  userName: "Rohit",
  userPassword: "Rohit@45",
  userPhone: 676,
  email: "rohitsharma@gmail.com"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\booking\showBySfid\(sfid):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="sfid">attributes.uriParams.'sfid'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    bookingId: 1000,
    user: {
      userType: "Admin",
      userId: 45,
      userName: "Rohit",
      userPassword: "Rohit@45",
      userPhone: 676,
      email: "rohitsharma@gmail.com"
    },
    bookingDate: "2022-11-11T20:00:00",
    passengers: [
      {
        pnrNumber: 101,
        passengerName: "Sahil",
        passengerAge: 22,
        passengerUIN: 123456789012,
        luggage: 9.75
      }
    ],
    ticketCost: 10000,
    sflight: {
      sfid: 101,
      availableSeats: 90,
      flight: {
        carrierName: "Indigo",
        flightModel: "Jet",
        flightNumber: 10001,
        seatCapacity: 100
      },
      schedule: {
        sid: 101,
        sourceAirport: {
          airportCode: 101,
          airportName: "Indira Gandhi International Airport",
          airportLocation: "Delhi"
        },
        destinationAirport: {
          airportCode: 102,
          airportName: "Chhatrapati Shivaji International Airport",
          airportLocation: "Mumbai"
        },
        arrivalTime: "2022-11-14T20:00:00",
        departureTime: "2022-11-14T16:00:00"
      }
    },
    noOfPassengers: 1
  }, 
  {
    bookingId: 1001,
    user: {
      userType: "User",
      userId: 18,
      userName: "Virat",
      userPassword: "Virat@18",
      userPhone: 8282,
      email: "virat18@gmail.com"
    },
    bookingDate: "2022-11-11T20:00:00",
    passengers: [
      {
        pnrNumber: 101,
        passengerName: "Sahil",
        passengerAge: 22,
        passengerUIN: 123456789012,
        luggage: 9.75
      }
    ],
    ticketCost: 9000,
    sflight: {
      sfid: 102,
      availableSeats: 100,
      flight: {
        carrierName: "SpiceJet",
        flightModel: "Airbus",
        flightNumber: 10002,
        seatCapacity: 120
      },
      schedule: {
        sid: 102,
        sourceAirport: {
          airportCode: 101,
          airportName: "Indira Gandhi International Airport",
          airportLocation: "Delhi"
        },
        destinationAirport: {
          airportCode: 102,
          airportName: "Chhatrapati Shivaji International Airport",
          airportLocation: "Mumbai"
        },
        arrivalTime: "2022-11-14T20:00:00",
        departureTime: "2022-11-14T16:00:00"
      }
    },
    noOfPassengers: 1
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\schedule\showBySource\(airportName):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="airportName">attributes.uriParams.'airportName'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    scheduleId: 101,
    sourceAirport: {
      airportCode: 101,
      airportName: "Indira Gandhi International Airport",
      airportLocation: "Delhi"
    },
    destinationAirport: {
      airportCode: 102,
      airportName: "Chhatrapati Shivaji International Airport",
      airportLocation: "Mumbai"
    },
    arrivalTime: "2022-11-14T20:00:00",
    departureTime: "2022-11-14T16:00:00"
  }, 
  {
    scheduleId: 102,
    sourceAirport: {
      airportCode: 101,
      airportName: "Indira Gandhi International Airport",
      airportLocation: "Delhi"
    },
    destinationAirport: {
      airportCode: 102,
      airportName: "Chhatrapati Shivaji International Airport",
      airportLocation: "Mumbai"
    },
    arrivalTime: "2022-11-15T15:00:00",
    departureTime: "2022-11-15T11:00:00"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\api\passenger\showByUIN\(passengerUIN):flight-management-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="passengerUIN">attributes.uriParams.'passengerUIN'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  pnrNumber: 101,
  passengerName: "Sahil",
  passengerAge: 22,
  passengerUIN: 123456789012,
  luggage: 9.75
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\api\airport\addAirport:application\json:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Airport added"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\api\booking\addBooking:application\json:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Booking added"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\api\flights\addFlight:application\json:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Flight added"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\api\passenger\addPassenger:application\json:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Passenger added"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\api\scheduledflight\addSchFlight:application\json:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "ScheduledFlight added"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\api\schedule\addSchedule:application\json:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Schedule added"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\api\user\addUser:application\json:flight-management-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "User added"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
